<!-- INNER Dropdown (Content) -->
<div id="test" class="drop-content-container" *ngIf="showDropContent" (click)="$event.stopPropagation()">

    <h3>Filter by</h3>

    <hr>

    <!-- todo -->
    <div [innerHTML]="fieldNamesForFilter" style="background-color: rgb(238, 238, 238); margin: 8px 10px;"></div>

    <!-- Content for FILTER -->
    <div style="overflow: visible;">
        <div class="filter-wrapper">
            <div class="filter-item-wrapper" *ngFor="let condition of filterConditions, let i = index">

                <!-- Where / And / Or -->
                <!-- ---------------- -->
                <div class="filter-item-operator label" *ngIf="i === 0">Where</div>

                <!-- <app-filter-data-dropdown style="overflow: visible" *ngIf="i === 1"
                    [buttonType]="'operator'"
                    (selectedOperator)="getSelectedOperator($event)"
                ></app-filter-data-dropdown> -->

                <!-- <div class="filter-item-operator label" *ngIf="i > 1">{{selectedOperator || 'and'}}</div> -->

                <!-- FieldName-Dropdown -->
                <!-- ------------------ -->
                <!-- <app-dropdown-base style="overflow: visible"
                    [buttonType] = "'filter-data-dropdown'"
                    [dropdownId] = "'filter-data-fieldname'"
                    [buttonValue] = "'fieldname'"
                    [buttonIcon] = "''"
                    [dropdownContent] = "'filter-data'">
                </app-dropdown-base> -->

                <!-- <app-filter-data-dropdown style="overflow: visible"
                    [buttonType]="'condition'"
                ></app-filter-data-dropdown> -->

                <div class="filter-item input">
                    <input type="text" placeholder="Enter a Value...">
                </div>

                <div class="filter-item remove" (click)="removeFilter($event, condition.index)">
                    <span class="icon-cancel-circle"></span>
                </div>

            </div>
        </div>

        <!-- Add conditions / -group -->
        <!-- ----------------------- -->
        <div class="filter-actions">

            <button class="filter-action-button" (click)="addCondition($event)">
                <span class="icon-add"></span>
                <span>Add condition</span>
            </button>

        </div>
    </div>

</div>
