<!-- INNER Dropdown (Content) -->
<div id="test" class="drop-content-container" *ngIf="showDropContent" (click)="$event.stopPropagation()">

    <h3>Filter by</h3>

    <hr>

    <!-- todo -->
    <!-- {{ fieldNamesForFilter }} -->
    <div [innerHTML]="getFieldNamesWithLineBreaks()"></div>

    <ul>
        <!-- <li [ngClass]="{'active': sortingTerm === 'id-asc'}" (click)="onChooseOption('id-asc')"><span>id-asc</span><br></li>
        <li [ngClass]="{'active': sortingTerm === 'id-desc'}" (click)="onChooseOption('id-desc')"><span>id-desc</span></li>
        <li [ngClass]="{'active': sortingTerm === 'name-asc'}" (click)="onChooseOption('name-asc')"><span>name-asc</span><br></li>
        <li [ngClass]="{'active': sortingTerm === 'name-desc'}" (click)="onChooseOption('name-desc')"><span>name-desc</span><br></li> -->
    </ul>

</div>
