<!-- <div *ngFor="let workSchedule of workScheduleItems">
    <div><b>{{workSchedule.name}}</b></div>
    <ul>
        <li *ngFor="let day of workSchedule.workDays">
            {{day.dayOfWeek}}: {{day.startTime}} - {{day.endTime}}
        </li>
    </ul>
</div> -->

<div class="grid-container">

    <div class="item-container"
        *ngFor="let workSchedule of workScheduleItems"
        (click)="onSelectWorkSchedule(workSchedule)"
        [ngClass]="{ 'selected': workSchedule.id === selectedWorkScheduleId }"
    >
        <span>{{ workSchedule.id }} - <b>{{ workSchedule.name }}</b></span>
        <br><br>

    </div>
</div>
