<app-header></app-header>

<div style="text-align: center">
    <h3>Login (ohne Funktion)</h3>
    <br>

    <label for="username">Benutzername</label>
    <br>
    <input type="text" id="username" name="Benutzername" [(ngModel)]="username">
    <br><br>

    <label for="password">Kennwort</label>
    <br>
    <input type="password" id="password" name="Kennwort" [(ngModel)]="password">
    <br><br>

    <button class="submitButton" (click)="login()">Anmelden</button>
    <button class="submitButton" (click)="test()">Daten ausfüllen</button>
</div>