<div class="filter-wrapper">

    <!-- Button -->
    <button (click)="toggleContent($event)" class="filter-btn">
        <div class="icon-sort"></div>
        <span>Sort</span>
    </button>

    <!-- Content -->
    <div *ngIf="showContent" class="sort-container" style="overflow: visible;">

        <!-- Content-Header -->
        <h3 style="font-size: .8rem; margin-bottom: 8px;">Sort by (WIP)</h3>
        <hr>

        <!-- Content -->
        <form [formGroup]="sortForm" (ngSubmit)="onSubmit()" style="margin-top: 12px;" style="overflow: visible;">
            <div formArrayName="conditions" style="overflow: visible;">
                <div *ngFor="let condition of conditions.controls; let i = index" [formGroupName]="i" style="overflow: visible;">

                    <div class="condition-wrapper" style="overflow: visible;">

                        <!-- dropdown for fieldname -->
                        <app-dropdown-base style="overflow: visible;"
                            [buttonType] = "'button-01'"
                            [dropdownId] = "'sort-fieldname'"
                            [buttonValue] = "'fieldname'"
                            [buttonIcon] = "'icon-chevron-down'"
                            [dropdownContent] = "'fieldname'">
                        </app-dropdown-base>

                        <!-- dropdown for operator -->
                        <app-dropdown-base style="overflow: visible"
                            [buttonType] = "'button-01'"
                            [dropdownId] = "'sort-operator'"
                            [buttonValue] = "'operator'"
                            [buttonIcon] = "'icon-chevron-down'"
                            [dropdownContent] = "'operator'">
                        </app-dropdown-base>

                        <!-- Remove-Button -->
                        <button type="button" class="filter-item-remove" (click)="removeCondition($event, i)"><span class="icon-cancel-circle"></span></button>
                    </div>
                </div>
            </div>

            <!-- Button zum Hinzufügen einer Bedingung -->
            <button class="filter-action-button" (click)="addCondition()">
                <span class="icon-add"></span>
                <span>Add condition</span>
            </button>
      </form>

    </div>
  </div>
