<!-- Only for example - Remove when working on real dashboard -->
<!-- ######################################################## -->
<div style="display: flex; /*height: 100vh;*/ font-family: Arial, sans-serif; background-color: #f0f2f5; background-color: transparent; margin: 0px; padding: 0px">
    <div style="width: 250px; background-color: transparent; color: white;">
        <ul style="list-style: none; padding: 0px;">
            <li style="padding: 10px; margin: 0px 10px 10px 0px; background-color: #273f61; color: white; text-align: start; cursor: pointer; border-radius: 4px;">Übersicht</li> <!--#495057-->
            <li style="padding: 10px; margin: 0px 10px 10px 0px; background-color: #273f61; color: white; text-align: start; cursor: pointer; border-radius: 4px;">Statistiken</li> <!--#527083-->
            <li style="padding: 10px; margin: 0px 10px 10px 0px; background-color: #273f61; color: white; text-align: start; cursor: pointer; border-radius: 4px;">Einstellungen</li>
            <li style="padding: 10px; margin: 0px 10px 10px 0px; background-color: #273f61; color: white; text-align: start; cursor: pointer; border-radius: 4px;">Benutzer</li>
        </ul>
    </div>
    <div style="flex: 1;">
        <div style="background-color: white; padding: 20px; margin-bottom: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 4px;">
            <h3 style="margin-top: 0;">Card 1</h3>
            <p>Anzeige von offenen Aufgaben...</p>
        </div>
        <div style="background-color: white; padding: 20px; margin-bottom: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 4px;">
            <h3 style="margin-top: 0;">Card 2</h3>
            <p>Anzeige von Zeitkonto und Urlaubstagen...</p>
        </div>
        <div style="background-color: white; padding: 20px; margin-bottom: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 4px;">
            <h3 style="margin-top: 0;">Card 3</h3>
            <p>Anzeige von Urlaubsanträgen bei Führungspersonen...</p>
        </div>


        <!-- notice -->
        <div>
            <!-- Notices regarding development... -->
            <span><b style="font-size: .8rem;">Offene Fragen / ToDos:</b></span>
            <br>
            <span style="font-size: .8rem;">1. Sollte es möglich sein, dass man Hauptmenüpunkte auch als Favorite markiert (z.B. Kunde, Projekt)?</span><br>
            <!-- <span style="font-size: .8rem;">=> Meine Tendenz / Ja!</span> -->
            <br>
            <span style="font-size: .8rem;">2. Sollten bei Menüpunkten mit Untermenü besser ersichtlich sein, dass es ein Untermenü gibt (z.B. Dropdown-Pfeil bei Aufgaben, Team)?</span><br>
            <!-- <span style="font-size: .8rem;">=> Meine Tendenz / Ja!</span> -->
            <br>

        </div>


    </div>
</div>
