<!-- Only for example - Remove when working on real dashboard -->
<!-- ######################################################## -->
<div style="display: flex; /*height: 100vh;*/ font-family: Arial, sans-serif; background-color: #f0f2f5; background-color: transparent; margin: 0px; padding: 0px">

    <!-- Dashboard-Menu -->
    <!-- -------------- -->
    <div style="width: 250px; background-color: transparent; color: white;">
        <ul style="list-style: none; padding: 0px;">
            <li style="padding: 10px; margin: 0px 10px 10px 0px; background-color: #273f61; color: white; text-align: start; cursor: pointer; border-radius: 4px;">Übersicht</li> <!--#495057-->
            <li style="padding: 10px; margin: 0px 10px 10px 0px; background-color: #273f61; color: white; text-align: start; cursor: pointer; border-radius: 4px;">Statistiken</li> <!--#527083-->
            <li style="padding: 10px; margin: 0px 10px 10px 0px; background-color: #273f61; color: white; text-align: start; cursor: pointer; border-radius: 4px;">Einstellungen</li>
            <li style="padding: 10px; margin: 0px 10px 10px 0px; background-color: #273f61; color: white; text-align: start; cursor: pointer; border-radius: 4px;">Benutzer</li>
        </ul>
    </div>

    <!-- Dashboard-Cards -->
    <!-- --------------- -->
    <div style="flex: 1;">
        <div style="background-color: white; padding: 20px; margin-bottom: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 4px;">
            <h3 style="margin-top: 0; margin-bottom: 8px">Card 1</h3>
            <p>Anzeige von offenen Aufgaben...</p>
        </div>

        <div style="background-color: white; padding: 20px; margin-bottom: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 4px;">
            <h3 style="margin-top: 0; margin-bottom: 8px;">Card 2</h3>
            <p>Anzeige von Zeitkonto und Urlaubstagen...</p>
        </div>

        <div style="background-color: white; padding: 20px; margin-bottom: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 4px;">
            <h3 style="margin-top: 0; margin-bottom: 8px;">Card 3</h3>
            <p>Anzeige von Urlaubsanträgen bei Führungspersonen...</p>
        </div>

        <!-- notice -->
        <div style="background-color: white; padding: 20px; margin-bottom: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 4px;">
            <h3 style="margin-top: 0; margin-bottom: 8px;">Offene Fragen / ToDos:</h3>
            <div>
                <span style="font-size: .8rem;">1. Sollte es möglich sein, dass man Hauptmenüpunkte auch als Favorite markiert (z.B. Kunde, Projekt)?</span><br>
                <!-- <span style="font-size: .8rem;">=> Meine Tendenz / Ja!</span> -->
                <br>
                <span style="font-size: .8rem;">2. Sollten bei Menüpunkten mit Untermenü besser ersichtlich sein, dass es ein Untermenü gibt (z.B. Dropdown-Pfeil bei Aufgaben, Team)?</span><br>
                <!-- <span style="font-size: .8rem;">=> Meine Tendenz / Ja!</span> -->
                <br>
                <span style="font-size: .8rem;">3. Sollten die Quicklinks vielleicht pro Objekt auf- und zuklappbar sein?</span><br>
                <!-- <span style="font-size: .8rem;">=> Meine Tendenz / Ja!</span> -->
                <br>
                <span style="font-size: .8rem;">4. Die Favoriten sollten zur besseren übersicht nach Objekten gegliedert werden. Es könnte auch ein Mega-Dropdown sein, nicht nur eine einfache Liste.</span><br>
                <!-- <span style="font-size: .8rem;">=> Meine Tendenz / Ja!</span> -->
            </div>
        </div>

        <div style="background-color: white; padding: 20px; margin-bottom: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 4px;">
            <h3 style="margin-top: 0; margin-bottom: 8px;">Card 4</h3>
            <!-- <p>Anzeige von Urlaubsanträgen bei Führungspersonen...</p> -->
        </div>

        <div style="background-color: white; padding: 20px; margin-bottom: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 4px;">
            <h3 style="margin-top: 0; margin-bottom: 8px;">Card 5</h3>
            <!-- <p>Anzeige von Urlaubsanträgen bei Führungspersonen...</p> -->
        </div>

    </div>
</div>
