// Generelly-Header
// ================
.background {
    height: 76px;
}

// Public
// ======
.public {
    background-color: orange;
}


// Private
// =======
.private {
    background-color: lime;
}

// Breadcrumb
// ==========
.breadcrumb-container {
    background-color: darkcyan;
    height: 36px;
    display: flex;
    flex-direction: row;    
}

.breadcrumb-item {
    flex-grow: 1;
}

.item-1 {
    // background-color: lightblue;
}

.item-2 {
    // background-color: lightsalmon;
}

.item-3 {
    // background-color: lightcyan;
    position: absolute;
    right: 0;
    width: 100px;
    text-align: right;
    margin-right: 3px;
}

.button {
    margin-top: 3px;
    padding: 5px 15px;
}