// Generelly-Header
// ================
.background {
    height: 65px;
}

// Public
// ======
.public {
    background-color: orange;
}


// Private
// =======
.private {
    background-color: lime;
}

// Breadcrumb
// ================
.breadcrumb {
    background-color: darkcyan;
    height: 24px;
    display: flex;
    flex-direction: row;
}




