<!-- Public -->
<!-- HEADER -->
<!-- ###### -->
<div class="background public" *ngIf="!isPrivate" routerLink="">
    <div>

    </div>
</div>

<!-- BREADCRUMBS -->
<!-- ########### -->
<div class="breadcrumb-container" *ngIf="!isPrivate">
    <div class="breadcrumb-item item-1"></div>
    <div class="breadcrumb-item item-2"></div>
    <div class="breadcrumb-item item-3">
        <button class="button" *ngIf="isVisible" routerLink="/login">Login</button>
    </div>
</div>


<!-- Private -->
<!-- HEADER -->
<!-- ###### -->
<div class="background private" *ngIf="isPrivate">    
    <div class="row">

        <div class="col-4 searching">
            <input type="text" placeholder="z.B. Name, Rechnungsnummer, Datum etc.">
        </div>

        <div class="col-4 logo">
            <img src="../../../assets/tackl-logo-white.png" alt="" routerLink="/dashboard">
        </div>

        <div class="col-4 functions">
            <div class="dropdown" style="float:right;">
                <button class="dropbtn">Max Mustermann</button>
                <div class="dropdown-content">
                    <a>(xxx)</a>
                    <a>(xxx)</a>
                    <a style="border-top: 1px solid #c6c6c6;" routerLink="/">Abmelden</a>
                </div>
            </div>
        </div>

    </div>
</div>


