<div class="add-info-header">
    <span>Zusatzinformationen...</span><br>
</div>

<br>

<div class="add-info-wrapper" *ngIf="addInfoObject">

    <div class="1st">
        <div class="add-info-item-id">
            ID: {{addInfoObject.id}}
        </div>
    </div>

    <hr style="margin: 4px 0px;">

    <div class="2nd" *ngIf="addInfoObject.name">
        <div class="add-info-item-name" *ngIf="addInfoObject.name">
            {{addInfoObject.name}}
        </div>
    </div>

    <div class="3rd" *ngIf="addInfoObject.title">
        <div class="add-info-item-id">
            {{addInfoObject.title}}
        </div>
    </div>

</div>
