<div class="add-info-header">
    <span>Zusatzinformationen...</span><br>
</div>



<div class="add-info-wrapper" *ngIf="addInfoObject">
    <hr style="margin: 6px 0px;">

    <div class="1st">
        <div class="add-info-item-id">
            ID: {{addInfoObject.id}}
        </div>
    </div>

    <div class="2nd" *ngIf="addInfoObject.name">
        <div class="add-info-item-name" *ngIf="addInfoObject.name">
            {{addInfoObject.name}}
        </div>
    </div>

    <div class="3rd" *ngIf="addInfoObject.title">
        <div class="add-info-item-id">
            {{addInfoObject.title}}
        </div>
    </div>

</div>

<hr style="margin: 6px 0px;">

<div>
    <!-- Notices regarding development... -->
    <span><b style="font-size: .8rem;">Offene Fragen / ToDos:</b></span>
    <br>
    <span style="font-size: .8rem;">1. Sollte es möglich sein, dass man Hauptmenüpunkte auch als Favorite markiert (z.B. Kunde, Projekt)?</span><br>
    <span style="font-size: .8rem;">=> Meine Tendenz / Ja!</span>
    <br><br>
    <span style="font-size: .8rem;">2. Sollten bei Menüpunkten mit Untermenü besser ersichtlich sein, dass es ein Untermenü gibt (z.B. Dropdown-Pfeil bei Aufgaben, Team)?</span>
    <span style="font-size: .8rem;">=> Meine Tendenz / Ja!</span>
    <br><br>
    <span style="font-size: .8rem;">
        3. Sollte im Sortier-Dropdown die aktuelle Sortierung aktiviert sein, wenn ich das Dropdown öffne?
        Nicht ganz trivial (aus der URL kann ich sie nicht immer auslesen, ist die id und aufsteigend als default Sinnvoll?)
    </span><br>
    <span style="font-size: .8rem;">=> Meine Tendenz / Ja!</span>
</div>
