// MAIN-MENU
// *********
.menu-container {
    background-color: white;
    height: 100%;
    overflow: visible;
    height: 52px;
    box-shadow: 0px 4px 10px 0px rgba(20, 38, 63, 0.6);

    div, button {
        display: flex;
        align-items: center;
    }

    .menu-wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        overflow: visible;
    }

    .menu-wrapper.left {
        display: flex;
        align-items: center;

        // SPECIAL CONTAINER LOGO
        // ----------------------
        .logo {
            background-color: white;
            height: 100%;
            width: max-content;
            padding: 0 8px 0 12px;

            img {
                height: 32px;
                width: auto;
            }
        }
    }
}



.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(39, 63, 97);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(20, 38, 63);
}

.message {
    text-align: center;
    margin-top: 15px;
}

.message a {
    color: rgb(39, 63, 97);
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}
