<!-- INNER Dropdown (Content) -->
<div id="test" class="drop-content-container" *ngIf="showDropContent" (click)="$event.stopPropagation()">

    <h3>Sort by</h3>

    <hr>

    <ul>
        <li (click)="onChooseOption('name-asc')"><span>name-asc</span><br></li>
        <li (click)="onChooseOption('name-desc')"><span>name-desc</span><br></li>
        <li (click)="onChooseOption('id-asc')"><span>id-asc</span><br></li>
        <li (click)="onChooseOption('id-desc')"><span>id-desc</span></li>
    </ul>

</div>
