<div class="headline-background">
    <p class="headline">quicklinks</p>
</div>

<div class="container firstQuickLink">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 1</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 2</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 3</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 4</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 5</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 6</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 7</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 8</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 9</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 10</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 11</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 12</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 13</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 14</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 15</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 16</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 17</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 18</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 19</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 20</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 21</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 22</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 23</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>

<div class="container" style="margin-bottom: 40px;">
    <div class="move">
        <img src="../../../assets/transmission.png" alt="">
    </div>
    <div class="designation">
        <p>Quicklink 24</p>
    </div>
    <div class="edit">
        <img src="../../../assets/transmission.png" alt="">
    </div>
</div>