<div class="grid-container">

    <div class="item-container"
        *ngFor="let teamMember of teamMemberItems"
        (click)="onSelectTeamMember(teamMember)"
        [ngClass]="{ 'selected': teamMember.id === selectedTeamMemberId }"
    >
        <span><b>{{ teamMember.id }} - {{ teamMember.firstName }} {{ teamMember.lastName }}</b></span>
        <br><br>
        <span>{{ teamMember.phone }}</span>
        <br>
        <span>{{ teamMember.email }}</span>
        <br><br>

        <div *ngIf="getWorkScheduleForMember(teamMember.id) as workSchedule">

            <span style="font-size: .86rem; font-weight: bold;">{{ getStandardWorkScheduleName(workSchedule.standardScheduleId) }}</span>

            <div *ngFor="let workDay of workSchedule.customWorkDays">
                <span style="font-size: .86rem">{{ workDay.dayOfWeek }} - {{ workDay.startTime }} - {{ workDay.endTime }}</span>
            </div>

        </div>
    </div>
</div>
