<div class="menu-container">

    <div class="menu-wrapper">

        <!-- HEADER LEFT -->
        <!-- *********** -->
        <div class="menu-wrapper left">

            <!-- Logo -->
            <!-- **** -->
            <div class="header-item-container-1 logo">
                <a href="/"><img src="../../../assets/img/logo-systaro.png" alt=""></a>     <!-- target="_blank"-->
            </div>

            <!-- Menu-Buttons and Dropdowns / The values come from 'headerMenuItems' and 'headerMenuSubItems' -->
            <!-- ******************************************************************************************** -->
            <div class="header-item-container-green" *ngFor="let menuItem of headerMenuItems, index">
                <div class="header-item-container-white" [ngClass]="menuItem.status">
                    <div #dropdown class="dropdown-container">

                        <!-- MENU-BUTTON (Dashboard) / When the menu-item has no dropdown and have the url-link directly -->
                        <!-- ******************************************************************************************* -->
                        <ng-container *ngIf="menuItem.hasLink; else noLink">
                            <button #dropdownButton class="drop-button" [ngClass]="menuItem.status" *ngIf="menuItem.name !== 'placeholder'"
                                (click)="openDropdown(menuItem.name)" (click)="onSelectMenuItem(menuItem)"
                                [routerLink]="menuItem.hasLink ? menuItem.route : ''"
                            >
                                <span [class]="'button-icon ' + menuItem.icon" [ngClass]="{ 'button-icon-is-favorite': menuItem.isFavorite }"></span>
                                <span class="button-text" *ngIf="menuItem.title">{{menuItem.title}}</span>
                            </button>
                        </ng-container>

                        <!-- MENU-BUTTON (!Dashboard) / When the menu-item has a dropdown and dont have an url-link -->
                        <!-- ************************************************************************************** -->
                        <ng-template #noLink>
                            <button #dropdownButton class="drop-button" *ngIf="menuItem.name !== 'placeholder'"
                                [ngClass]="{'active' : menuItem.status === 'active', 'has-dropdown' : menuItem.name !== 'searching' && menuItem.name !== 'favorite'}"
                                (click)="openDropdown(menuItem.name)"
                            >
                                <span [class]="'button-icon ' + menuItem.icon" [ngClass]="{ 'button-icon-is-favorite': menuItem.isFavorite }"></span>
                                <span class="button-text" *ngIf="menuItem.title">{{menuItem.title}}</span>
                            </button>
                        </ng-template>

                        <!-- DROPDOWN-CONTENT if the clicked menuItem.name is searching -->
                        <!-- ********************************************************** -->
                        <div class="drop-content-container" *ngIf="menuItem.showDropdown && menuItem.name === 'searching'"
                             style="padding: 8px 16px; font-size: 2em; min-width: 500px; min-height: 200px; display: flex; align-items: center; justify-content: space-around;"
                        >
                            WIP

                            <!-- todo -->

                        </div>

                        <!-- DROPDOWN-CONTENT if the clicked menuItem.name is not searching -->
                        <!-- ************************************************************** -->
                        <div class="drop-content-container" *ngIf="menuItem.showDropdown && menuItem.name !== 'searching'">
                            <ng-container *ngFor="let menuSubItem of headerMenuSubItems">
                                <div class="drop-item-container" *ngIf="menuSubItem.parentName == menuItem.name"
                                        [routerLink]="menuSubItem.route" (click)="closeAllDropdowns()"
                                        (click)="onSelectMenuItem(menuSubItem)"
                                >

                                    <span class="drop-item">{{menuSubItem.title}}</span>
                                    <span [ngClass]="menuSubItem.markAsFavorite == true ? 'icon-star is-favorite' : 'icon-star'"
                                          (click)="toggleFavorite(menuSubItem); $event.stopPropagation()"
                                    ></span>
                                </div>
                            </ng-container>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <!-- HEADER RIGHT -->
        <!-- ************ -->
        <div class="menu-wrapper right">

            <app-time-tracker style="overflow: visible;"></app-time-tracker>

            <div class="item-container profile" (click)="testFunction()">
                <div class="icon-user"></div>
                <span>Max Mustermann</span>
            </div>

        </div>

    </div>

</div>
