<app-header></app-header>

<div class="row">

    <div class="col-1 navigation">
        <app-navigation></app-navigation>
    </div>

    <div class="col-1 quicklinks">
        <app-quicklinks></app-quicklinks>
    </div>

    <div class="col-10 content">
        
        <div class="content-header-background">
            <div class="content-header-container">
                <p>Team-Member:</p><p>{{firstName}} {{lastName}}</p><p>{{number}}</p>
            </div>
        </div>

        <div class="content-value">
            
            <!-- CONTENT ROW I -->
            <div class="row-content">
                <div class="col-1">
                    <label for="">Nummer</label>
                    <input type="text" value="{{number}}" disabled class="disabled">
                </div>
                <div class="col-2">
                    <label for="">Kurzname</label>
                    <input type="text" value="{{shortName}}" disabled class="disabled">
                </div>
            
                <div class="col-3">
                    <label for="">Vorname</label>
                    <input type="text" [(ngModel)]="firstName"
                    (keyup)="onKeyFirstName($event)"
                    (focusout)="onFocusOutName()"
                    >
                </div>

                <div class="col-3">
                    <label for="">Nachname</label>
                    <input type="text" [(ngModel)]="lastName"
                    (keyup)="onKeyLastName($event)"
                    (focusout)="onFocusOutName()"
                    >
                </div>

                <div class="col-3">
                    <label for="">E-Mail</label>
                    <input type="text" [(ngModel)]="email">
                </div>                                
            </div>

            <!-- CONTENT ROW II -->
            <div class="row-content">
                <div class="col-3">
                    <label for="">Straße</label>
                    <input type="text" [(ngModel)]="street">
                </div>
            
                <div class="col-3">
                    <label for="">Hausnummer</label>
                    <input type="text" [(ngModel)]="houseNumber">
                </div>

                <div class="col-3">
                    <label for="">PLZ</label>
                    <input type="text" [(ngModel)]="postCode">
                </div>

                <div class="col-3">
                    <label for="">Ort</label>
                    <input type="text" [(ngModel)]="city">
                </div>                                
            </div>
            
            

        </div>

    </div>

</div>