<div class="add-filter-wrapper" style="overflow: visible">

    <!-- Searching-Area -->
    <!-- -------------- -->
    <div class="searching-wrapper">
        <input type="text" placeholder="Searching..." [(ngModel)]="searchTerm" (keyup)="onSearchTermChanged($event)"/>
        <div class="icon-cancel" *ngIf="searchTerm !== ''" (click)="removeSearchTerm()"></div>
    </div>

    <!-- DROPDOWN - Component -->
    <!-- -------------------- -->
    <app-dropdown-base style="overflow: visible"
        [buttonValue]="'filter'"
        [buttonIcon]="'icon-filter'"
        [dropdownContent]="'filter'">
    </app-dropdown-base>

    <app-dropdown-base style="overflow: visible"
        [buttonValue]="'sort'"
        [buttonIcon]="'icon-sort'"
        [dropdownContent]="'sort'">
    </app-dropdown-base>

    <!-- todo -->

    <!-- <app-tile-view-dropdown style="overflow: visible"
        [buttonValue]="'group'"
        [buttonIcon]="'icon-drawer'"
        [dropdownContent]="'group'"
    ></app-tile-view-dropdown> -->

</div>

<!-- <p style="color: rgb(192, 192, 192); font-size: .84rem; padding: 6px 6px;">WIP - {{ fieldNamesForFilter }}</p> -->
