.add-filter-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow: visible;

    .searching-wrapper {
        background-color: rgb(225, 225, 225);
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin: 4px 0px;
        height: 28px;
        height: 36px;
        min-width: 400px;
        border: 1px solid #b9b9b9;
        border-radius: 4px;

        input {
            width: 100%;
            padding: 4px 6px;
            font-size: .9em;
        }

        .icon-cancel {
            border-radius: 14px;
            display: flex;
            align-items: center;
            height: 20px;
            width: 20px;
            margin: 0 3px 0 4px;
            justify-content: space-around;
        }

        .icon-cancel:hover {
            background-color: rgba(168, 40, 40, 0.6);
            color: white;
            cursor: pointer;
        }
    }
}
