<app-header></app-header>

<div class="flex-container">

    <div class="navigation">
        <app-navigation></app-navigation>
    </div>

    <div class="quicklinks">
        <app-quicklinks></app-quicklinks>
    </div>

    <div class="content">
        
        <div class="content-header-wrapper">
            <div class="content-header-background">
                test
            </div>
        </div>


        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        
        

        <p>test</p>


    </div>

</div>