:host {
    display: block;
    background: #fff;
    // background: lime;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 1;
    animation: custom-dialog-enter .8s ease;
    // z-index: 10001;
}

input {
    margin: 8px 0;
    width: 100%; /* Damit das Eingabefeld die volle Breite nutzt */
}

button + button {
    margin-left: 8px;
}

@keyframes custom-dialog-enter {
    from {
    //   transform: scale(-1) rotate(360deg);
    opacity: 0;
    transition: opacity 0.2s ease-in;    }

    to {
      transform: none;
    }
}
