:host {
    background: #fff;
    display: block;
    // border-radius: 8px;
    // padding: 8px 16px 16px;

    background: rgba(0, 0, 0, .4);
    width: 100vw;
    height: 100vw;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    padding: 120px;

    .popup-background {
        background: #fff;
        padding: 8px 16px 16px;
        border-radius: 8px;
        width: max-content;
        min-width: 360px;
        height: max-content;
        min-height: 160px;

    }
}

input {
    margin: 8px 0;
}

button + button {
    margin-left: 8px;
}
