<!-- Alte Version der Filter/Sort/Group - Buttons -->
<button id="id-drop-button" class="drop-button" *ngIf="buttonType==='content-header-button'" (click)="onClickButton($event)"
    [ngClass]="{
        'drop-button-active-filter': hasFilterConditions === true && buttonValue === 'filter',
        'drop-button-active-sort': hasSortConditions === true && buttonValue === 'sort',
        'drop-button-active-group': hasGroupConditions === true && buttonValue === 'group'
    }"
>
    <div class="{{ buttonIcon }}"></div>
    <p style="margin-right: 2px">{{ buttonValue }}<span *ngIf="buttonValue === 'filter'"> / WIP</span> </p>

</button>





<button id="id-drop-button" class="drop-button-01" *ngIf="buttonType==='button-01'" (click)="onClickButton($event)">
    <p>{{ buttonValue }}</p>
    <div class="{{buttonIcon}}"></div>
</button>
