<div class="grid-container">

    <div class="task-container"
        *ngFor="let task of taskItems"
        (click)="onSelectTask($event, task)"
        [ngClass]="{ 'selected': task.id === selectedItemId }"
    >
        <div class="left-column">
            <!-- Ticket Header: ID und Titel -->
            <span><b>{{ task.id }} - {{ task.title }}</b></span>
            <br><br>
            <!-- Ticket Details: Status, Priorität und Fälligkeitsdatum -->
            <span>Status: {{ task.status }}</span>
            <br>
            <span>Priorität: {{ task.priority }}</span>
            <br>
            <span>Fälligkeitsdatum: {{ task.dueDate | date: 'dd.MM.yyyy' }}</span>
        </div>

        <div class="right-column visible">
            <button class="action" [ngClass]="{ 'active': task.isRunning, 'no-hover': isAnyTimerActive && task.id !== activeTaskId}"
                [disabled]="activeTaskId !== 0 && task.id !== activeTaskId"
                (click)="setTimerStart(task)">
                <div class="icon-play3"></div>
            </button>

            <button class="action" [ngClass]="{ 'active': task.isPaused, 'no-hover': isAnyTimerActive && task.id !== activeTaskId }"
                [disabled]="activeTaskId !== 0 && task.id !== activeTaskId"
                (click)="setTimerPause(task)">
                <div class="icon-pause2"></div>
            </button>

            <button class="action" [ngClass]="{ 'no-hover': isAnyTimerActive && task.id !== activeTaskId }" (click)="setTimerStop(task)"
                [disabled]="activeTaskId !== 0 && task.id !== activeTaskId"
            >
                <div class="icon-stop2"></div>
            </button>
        </div>

    </div>
</div>
