<div class="filter-wrapper">

    <!-- Button -->
    <button (click)="toggleFilters()" class="filter-btn">
        <div class="icon-filter"></div>
        <span>Filter (WIP)</span>
    </button>

    <!-- Content -->
    <div *ngIf="showFilters" class="filter-container">

        <!-- Content-Header -->
        <h3 style="margin-left: 11px; font-size: .8rem; margin-bottom: 8px;">Filter by</h3>
        <hr>

        <!-- Content -->
        <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
            <div formArrayName="conditions">
                <div *ngFor="let condition of conditions.controls; let i = index" [formGroupName]="i">

                    <div class="condition-wrapper">
                        <!-- Dropdown für Feld-Auswahl -->
                        <!-- <select formControlName="field">
                            <option *ngFor="let field of fields" [value]="field">{{ field }}</option>
                        </select> -->

                        <!-- dropdown for condition -->
                        <div class="filter-item-operator label" *ngIf="i === 0">Where</div>

                        <app-dropdown-base style="overflow: visible" class="filter-item-operator" *ngIf="i === 1"
                            [dropdownId] = "'filter-condition'"
                            [buttonType] = "'button-01'"
                            [buttonValue] = "'and'"
                            [buttonIcon] = "'icon-arrow-down'"
                            [dropdownContent] = "'condition'">
                        </app-dropdown-base>

                        <div class="filter-item-operator label" *ngIf="i > 1">{{ 'and' }}</div> <!-- {{ selectedOperator || }}-->

                        <!-- dropdown for fieldname -->
                        <app-dropdown-base style="overflow: visible"
                            [dropdownId] = "'filter-fieldname'"
                            [buttonType] = "'button-01'"
                            [buttonValue] = "'fieldname'"
                            [buttonIcon] = "'icon-arrow-down'"
                            [dropdownContent] = "'fieldname'">
                        </app-dropdown-base>

                        <!-- dropdown for operator -->
                        <app-dropdown-base style="overflow: visible"
                            [dropdownId] = "'filter-operator'"
                            [buttonType] = "'button-01'"
                            [buttonValue] = "'operator'"
                            [buttonIcon] = "'icon-arrow-down'"
                            [dropdownContent] = "'operator'">
                        </app-dropdown-base>

                        <!-- Input for filterValue -->
                        <input formControlName="value" type="text" placeholder="Wert eingeben" />

                        <!-- Remove-Button -->
                        <button type="button" (click)="removeCondition(i)">X</button>
                    </div>
                </div>
            </div>

            <!-- Button zum Hinzufügen einer Bedingung -->
            <button class="filter-action-button" (click)="addCondition()">
                <span class="icon-add"></span>
                <span>Add condition</span>
            </button>
      </form>

    </div>
  </div>
