<div class="filter-wrapper">

    <!-- Button -->
    <button (click)="toggleFilters()" class="filter-btn">
        <div class="icon-filter"></div>
        <span>Filter</span>
    </button>

    <!-- Content -->
    <div *ngIf="showFilters" class="filter-container">

        <!-- Content-Header -->
        <h3 style="margin-left: 11px; font-size: .8rem; margin-bottom: 8px;">Filter by</h3>
        <hr>

        <!-- Content -->
        <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
            <div formArrayName="conditions">
                <div *ngFor="let condition of conditions.controls; let i = index" [formGroupName]="i">

                    <!-- Dropdown für Feld-Auswahl -->
                    <select formControlName="field">
                    <option *ngFor="let field of fields" [value]="field">{{ field }}</option>
                    </select>

                    <!-- Dropdown für Operator-Auswahl -->
                    <select formControlName="operator">
                    <option *ngFor="let operator of operators" [value]="operator">{{ operator }}</option>
                    </select>

                    <!-- Eingabefeld für den Wert -->
                    <input formControlName="value" type="text" placeholder="Wert eingeben" />

                    <!-- Entfernen-Button -->
                    <button type="button" (click)="removeCondition(i)">X</button>
                </div>
            </div>

            <!-- Button zum Hinzufügen einer Bedingung -->
            <button class="filter-action-button" (click)="addCondition()">
                <span class="icon-add"></span>
                <span>Add condition</span>
            </button>
      </form>

    </div>
  </div>
