<!-- Page-Structure -->
<!-- -------------- -->
<div class="page-structure">

    <!-- Header -->
    <!-- ------ -->
    <header class="page-header-container" style="overflow: visible">
        <app-header-menu (selectedMenuItem)="onSelectMenuItem($event)"></app-header-menu>
    </header>

    <!-- Main-Content -->
    <!-- ------------ -->
    <main class="page-content-container">

        <!-- Content-Title -->
        <!-- ------------- -->
        <div class="content-title-container">

            <!-- Button toggle Quicklinks -->
            <!-- ------------------------ -->
            <button class="content-title-quicklinks" (click)="toggleQuicklinkVisibility()">
                Quicklinks
            </button>

            <!-- Menuname -->
            <!-- -------- -->
            <span class="content-title-value">
                <!-- {{selectedValueFromMainMenu | uppercase}} -->
                {{ selectedMenuItem }}
            </span>

            <!-- Button toggle AddInfos -->
            <!-- ---------------------- -->
            <button class="content-title-addinfo" (click)="toggleAddInfoVisibility()" *ngIf="!isViewDashboard">
                Add Info
            </button>

        </div>

        <!-- Content (Quicklinks - Tiles - AddInfo) -->
        <!-- Different Classes wether quicklinks or addInfo should be visible or not -->
        <!-- ----------------------------------------------------------------------- -->
        <div [ngClass]="{
                'content-container-full': isQuicklinksAreaVisible && isAddInfoAreaVisible,
                'content-container-without-quicklinks': !isQuicklinksAreaVisible && isAddInfoAreaVisible,
                'content-container-without-addinfo': isQuicklinksAreaVisible && !isAddInfoAreaVisible,
                'content-container-tiles-only': !isQuicklinksAreaVisible && !isAddInfoAreaVisible
        }">

            <!-- QUICKLINKS -->
            <!-- ---------- -->
            <div class="quicklinks-container" *ngIf="isQuicklinksAreaVisible">
                <app-quicklinks (selectedQuicklink)="onSelectQuicklink($event)"></app-quicklinks>
            </div>

            <!-- Content -->
            <!-- ------- -->
            <div [ngClass]="selectedMenuItem === 'dashboard' ? 'main-content-container-dashboard' : 'main-content-container'">

                <!-- Content-Header -->
                <!-- -------------- -->
                <div class="content-header-container" *ngIf="!isViewDashboard">

                    <app-content-header-for-list *ngIf="viewType === 'list'"></app-content-header-for-list>
                    <app-content-header-for-detail *ngIf="viewType === 'detail'"></app-content-header-for-detail>

                </div>

                <!-- Content -->
                <!-- ------- -->
                <div class="content-items">
                    <router-outlet></router-outlet>
                </div>

                <!-- Content-Actions -->
                <!-- --------------- -->
                <div class="content-actions" *ngIf="!isViewDashboard">
                    Actions
                </div>
            </div>

            <!-- ADDITIONAL INFORMATION -->
            <!-- ---------------------- -->
            <div class="add-info-container" *ngIf="isAddInfoAreaVisible">
                <div style="padding: 8px 12px">
                    <span style="font-weight: bold;">AddInfoArea...</span>
                    <br><br>
                    <span style="font-size: .86rem">
                        Wie soll sich der Bereich verhalten, wenn ich den Menüpunkt wechsle?
                        <br>
                        Soll der Bereich immerwieder eingeblendet werden oder
                        soll der Zustand beim wechseln beibehalten werden?
                    </span>
                </div>

                <!-- <app-add-info [addInfoObject]="addInfoObject"></app-add-info> -->

                <!-- note -->
                <!-- Only for testing -->
                <!-- <app-dropdown style="position:absolute; top: 48px; left: 12px;"
                    [buttonValue]="'test'"
                    [buttonIcon]="'icon-grid'"
                    [contentOption]="'object-test'"
                ></app-dropdown> -->
                <!-- End for testing -->

            </div>
        </div>





    </main>
</div>





<!-- <router-outlet></router-outlet> -->
