<div class="grid-container">

    <div class="item-container"
        *ngFor="let item of projectItems"
        (click)="onSelectProject(item)"
        (dblclick)="onOpenProject(item)"
        [ngClass]="{ 'selected': item.id === selectedItemId }"
    >
        <span><b>{{ item.name }}</b></span>
        <br><br>
        <span style="font-size: .86rem; font-weight: bold;" *ngIf="getClientName(item.clientId) as clientName">{{ clientName }}</span>
        <br><br>
        <span>{{ item.description }}</span>
        <br><br>
        <span>{{ item.teamMembers }}</span>

    </div>
</div>
