<div class="navigation-container">

    <div class="navigation-item-background">

        <div class="navigation-item first-item inactive pre-active" routerLink="/dashboard">
            <div class="item-1"></div>
        </div>
        
        <div class="navigation-item active" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive post-active" routerLink="/test">
            <div class="item-3"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive" routerLink="/test">
            <div class="item-2"></div>
        </div>



        <!-- <div class="navigation-item-background next" routerLink="/test">
            <img class="item-1" src="../../../assets/stift_schraubenschlussel_606468.png" alt="">
        </div> -->
        
    </div>
</div>
