<div class="navigation-container">

    <div class="navigation-item-background">

        <!-- routerLinkActive="navigation-item first-item active" -->
        <div class="navigation-item first-item"
            routerLink="/dashboard"            
            [ngClass]="classItem1"
            >
            <div class="item-1"></div>
        </div>
        
        <!-- routerLinkActive="navigation-item active" -->
        <div class="navigation-item"
            routerLink="/test"
            [ngClass]="classItem2"         
            >
            <div class="item-2"></div>
        </div>

        <div class="navigation-item"
            routerLink="/test2"
            [ngClass]="classItem3"
            >
            <div class="item-3"></div>
        </div>

        <div class="navigation-item"
            
            [ngClass]="classItem4"
        >
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item">
            <div class="item-2"></div>
        </div>



        <!-- <div class="navigation-item-background next" routerLink="/test">
            <img class="item-1" src="../../../assets/stift_schraubenschlussel_606468.png" alt="">
        </div> -->
        
    </div>
</div>
