.navigation-container {
    background-color: #212530;
    width: 48px;
    height: 100vh;
    position: absolute;
    top: -48px;
    padding-top: 48px;
    box-sizing: border-box;
}

.navigation-item-background {
    // background-color: #3d414d;
    width: 48px;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    padding-top: 48px;
    box-sizing: border-box;
}

// navigation-item first-item inactive pre-active
// navigation-item active
// navigation-item inactive post-active
// navigation-item inactive

.navigation-item  {
    background-color: #3d414d;
    width: 48px;
    height: 48px;
    padding: 12px 0 0 12px;
}

.navigation-item.first-item.active {
    background-color: #212530;
}

.navigation-item.first-item.pre-active {
    background-color: #3d414d;
    border-radius: 0px 0px 12px 0px;
}

.navigation-item.first-item {
    background-color: #3d414d;
}

.navigation-item.post-active{
    background-color: #3d414d;
    border-radius: 0px 12px 0px 0px;
}

.navigation-item.active{
    background-color: #212530;
    border-radius: 0px 0px 0px 0px;
}

.navigation-item.pre-active{
    background-color: #3d414d;
    border-radius: 0px 0px 12px 0px;
}

.navigation-item:not(.active):hover {
    background-color: #2f333d;
    width: 48px;
    height: 48px;
    padding: 12px 0 0 12px;
}



.item-1 {
    background-image: url("../../../assets/grid.png");
    background-size: 24px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;    
}

.item-2 {
    background-image: url("../../../assets/collaborationGrau.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;    
}

.item-3 {
    background-image: url("../../../assets/grid.png");
    background-size: 24px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;    
}

