<div class="navigation-container">

    <div class="navigation-item-background">

        <!-- routerLinkActive="navigation-item first-item active" -->
        <div class="navigation-item first-item inactive"
            routerLink="/dashboard"            
            [ngClass]="classDashboard"
            >
            <div class="item-1"></div>
        </div>
        
        <!-- routerLinkActive="navigation-item active" -->
        <div class="navigation-item inactive"
            routerLink="/test"
            [ngClass]="classTest"         
            >
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive"
            routerLink="/test2"
            [ngClass]="classTest2"
            >
            <div class="item-3"></div>
        </div>

        <div class="navigation-item inactive"
            routerLink=""
            [ngClass]="classTest3"
        >
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>

        <div class="navigation-item inactive">
            <div class="item-2"></div>
        </div>



        <!-- <div class="navigation-item-background next" routerLink="/test">
            <img class="item-1" src="../../../assets/stift_schraubenschlussel_606468.png" alt="">
        </div> -->
        
    </div>
</div>
