/* You can add global styles to this file, and also import other style files */

:root {
    --color-text: lime;
    --color-link: #125699;
    --background-color-light: #3d414d;
    --background-color-dark: #212530;
    --main-header-height: 48px;
    --content-height: 100vh - 48px;
    --test-bg-color: orange;
    --content-width: 100vw - 48px - 236px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #3d414d;
    height: 100%;
}

label {
    margin-right: 10px;
    padding-left: 4px;
}

input {
    border-radius: 2px;
    padding: 2px 4px;
    font-size: 1em;
    margin: 2px 36px 4px 0px;
}
