// Import Font from IcoMoon
// ************************
@import './assets/fonts/style.css';

// CSS VARIABLES
// *************
$primaryColor: #3e90b7;
$primaryColor: #333333;
$primaryColor: #396097;
$primaryColor: #273f61;

// GLOBAL VARIABLES
// ****************
:root {
    --primary-color: #273f61;
    --font-color-primary: #4f4f4f;
    --font-color-inverted: #e0e0e0;

    --app-background: #527083;      // rgb(82, 112, 131)
    --app-background: var(--primary-color);
}


// GLOBAL ELEMENT-STYLING
// **********************
* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: var(--font-color-primary);
    box-sizing: border-box;
    overflow: hidden;
}

img.menu-item {
    width: 24px;
}

input {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: none;
}


// Specialy for Scrollbar
// **********************
::-webkit-scrollbar {
    width: 4px;
    z-index: 1;
}

::-webkit-scrollbar-button {
    // background-color: blue;
    // width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: lime;
    background-color: rgba(44, 80, 103, .2);
    box-shadow: inset 0 0 4px #d6d6d6;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #95a0a1;
    background: rgba(44, 80, 103, .3);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2c5067;
    background: rgba(44, 80, 103, .6);
}





.cdk-overlay-container {
    // background-color: lime;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10000; /* Sicherstellen, dass der Container über allem liegt */
}

.cdk-overlay-container:has(.cdk-overlay-pane) {
    display: block; /* Zeigt den Container an, sobald ein Dialog aktiv ist */
}

.cdk-overlay-backdrop {
    background-color: rgba(0, 0, 0, .4); /* Schwarzer, transparenter Hintergrund */
    width: 100vw;
    height: 100vh;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 10000; /* Der Backdrop sollte knapp unter dem Dialog sein */
}

.cdk-overlay-pane {
    position: fixed; /* Sicherstellen, dass der Dialog über dem Rest der Seite angezeigt wird */
    left: 50%;        /* Zentriert horizontal */
    right: 50%;         /* Zentriert vertikal */
    z-index: 10001;  /* Höher als der Backdrop */
}

.cdk-global-overlay-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80px;
    z-index: 10001;
}
