/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #3d414d;
    // background: linear-gradient(50deg, rgba(61,65,77,1) 0%, rgba(33,37,48,1) 100%);
}