<app-header></app-header>
<!-- <app-navigation></app-navigation>
<p>Dashboard!</p> -->

<div class="flex-container">

    <div class="navigation-background">
        <!-- <p>Navigation 1</p>
        <p>Navigation 2</p>
        <p>Navigation 3</p>
        <p>Navigation 4</p>
        <p>Navigation 5</p>
        <p>Navigation 6</p>
        <p>Navigation 7</p>
        <p>Navigation 8</p>
        <p>Navigation 9</p>
        <p>Navigation 10</p>
        <p>Navigation 11</p>
        <p>Navigation 12</p>
        <p>Navigation 13</p>
        <p>Navigation 14</p>
        <p>Navigation 15</p>
        <p>Navigation 16</p>
        <p>Navigation 17</p>
        <p>Navigation 18</p>
        <p>Navigation 19</p>
        <p>Navigation 20</p> -->

        <app-navigation></app-navigation>
    </div>


    <div class="content-background">

        <div class="content-buttons">
            buttons
        </div>
        <div class="content-header-background">
            <div class="content-header">
                header
            </div>
        </div>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?
        </p>
    </div>

</div>