<app-header></app-header>

<div class="flex-container">

    <div class="navigation-background">
        <app-navigation></app-navigation>
    </div>

    <div class="content-background">

        <div class="content-buttons">
            buttons
        </div>
        <div class="content-header-background">
            <div class="content-header">
                header
            </div>
        </div>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consectetur eveniet enim maiores numquam non sequi delectus repellendus nostrum.
            Harum quo nulla, voluptatibus pariatur ab magnam ullam natus debitis. Ab?
        </p>
    </div>

</div>